
*{
  text-align: center ;
} */

.clearfix {
  clear: both;
}


.img {
  margin: 0 auto;
}

  body {
     height: 100%;
     background: url("img/kerrypark.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     display: center;
     margin:0 auto
  }
  header {
    background-color: #56C9FE;
    padding:10px;
    border: 10px  rgb(26, 23, 23);
    font-size:30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic; 
    font-stretch: expanded;
    display: center;
    width: 100%;
}

nav {
  width: 980px;
  padding: 10px;
  margin: 0 auto;
  }
nav ul{
  display:block;
  font-size: 20px;
  padding: 10px 24px;
  display: inline-block;
  background-color: #e7e7e7; color: black;
  border-radius: 10px;
  align-content: center;
  
}

nav li{
display: inline-block;
padding-right: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif

}
  a {
      color: black;
      text-align: center
  
  }

  p {
    position:center;
    font-size: 20px;
    font-family:Verdana;
    font-weight: bold;
    color: black;
    padding: 30px;
  }
div{
  padding:5px;
}
  aside {
    width: 125px;
    display: inline-block;
    vertical-align: top;
    background-color:white;
    font-size: 10px;
  }
  aside ul {
      list-style-type: none;
  }
  
  
  h1 {
    font-family:Verdana;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    display: center;
    }
  
  button{
    display: inline-block;
    align-content: center;
    border-radius: 20px;
  }

  .forms{
    display:inline-block; 
    margin-bottom: 2vw;
  }
  .forms input{
    position: center;
    left: 20vw;
    width: 20vw;
  }

 
  