*{
    text-align: center ;
  } */
  
  #holder {
    text-align: center;
    margin:0 auto;
  }
  
  holder {
    z-index: 2;
  }
  
  .img {
    margin: 0 auto;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
    html {
      height: 100%;
      background-color: #C0F3E8;
    }
    body {
       height: 100%;
       background: url("img/kerrypark.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       display: center;
       margin:0 auto
    }
  
    header {
        background-color: #56C9FE;
        padding:5px;
        border: 10px  rgb(26, 23, 23);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:25px ;
        font-style: italic; 
        text-align: center;
        display:left;
        width: 500px;
    }
    
    nav {
      width: 960px;
      padding: 5px;
      margin: 0 auto;
      }
        nav ul{
          float:center;
          display:center;
      }
      
      nav li{
        display: center;
        padding-right: 10px;
      }
  
  div {
    margin:0 auto;
  }
    a {
        color: black;
        text-align: center
    
    }
    
    p {
      position:center
    }
  
    section {
        width: 960px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:white;
      font-size: 10px;
    }
    aside ul {
        list-style-type: none;
    }
    
    img {
        width: 415px;
        height: 215px;
        display: float center
    }
    h1 {
      font-family:Verdana;
      font-size: 30px;
      font-weight: bold;
      color: black;
      text-align: center;
      }
    h2 {
        font-size: 20px;
        color:black;
    }
    h3 {
      font-size: 15px;
      color:black;
    }
  
      .forms {
        display:center; 
        margin-bottom:2vw;
      }
  
      .forms input{
        position: absolute;
        left: 20vw;
        width: 20vw;
      }
      #comments{
        position: absolute;
        left: 20vw;
        height: 6vw;
        width: 40vw;
        overflow-y: scroll;
        margin-bottom: 5vw;
      }
      .commentSub{
        display: block;
        margin-top: 10vw;
      }
    img {
      border-radius: 60%;
      border: 6px solid whitesmoke;
    }
   