
*{
    text-align: center ;
  } */
  
  .custom {
    cursor: url(images/my-cursor.png), auto;
  }
    html {
      height: 100%;
      background-color: #C0F3E8;
    }
    body {
       height: 100%;
       background: url("img/kerrypark.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       display: center;
    }

    header {
        background-color: #56C9FE;
        padding:10px;
        padding-left: 30px;
        border: 15px double #f0efe3;
        font-size:25px ;
        font-style: italic; 
        font-stretch: expanded;
        display: block;
        width: 500px;
    }
    nav {
      
        background-color:rgb(213, 227, 248);
        width:125px;
        display: inline-block;
        vertical-align: center;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: black;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:white;
      font-size: 20px;
    }
    aside ul {
        list-style-type: none;
    }
    
    img {
        width: 415px;
        height: 215px;
    }
    h2 {
        font-size: 30px;
        color:#4F3559;
    }
    footer {
        width: 790px;
        background-color:whitesmoke;
        text-align:center;
        padding:5px;
        display: center;
    }