
*{
  text-align: center ;
} */

.clearfix {
  clear: both;
}
#holder {
  text-align: center;
  margin:0 auto;
}

.img {
  margin: 0 auto;
}

  html {
    height: 100%;
    background-color: #C0F3E8;
  }
  body {
     height: 100%;
     background: url("img/kerrypark.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     display: center;
     margin:0 auto;
  }

  header {
      background-color: #56C9FE;
      padding:10px;
      border: 10px  rgb(26, 23, 23);
      font-size:30px ;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic; 
      font-stretch: expanded;
      display: center;
      width: 100%;
  }
  
  nav {
    width: 980px;
    padding: 10px;
    margin: 0 auto;
    }
  nav ul{
    display:block;
    font-size: 20px;
    padding: 10px 24px;
    display: inline-block;
    background-color: #e7e7e7; color: black;
    border-radius: 10px;
    align-content: center;
    
}

nav li{
  display: inline-block;
  padding-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif

}
  a {
      color: black;
      text-align: center
  
  }

  p {
    position:center
  }

 
  aside {
    width: 125px;
    display: inline-block;
    vertical-align: top;
    background-color:white;
    font-size: 10px;
  }
  aside ul {
      list-style-type: none;
  }
  
  img {
      width: 400px;
      height: 400px;
      display: float center;
  }
  h1 {
    font-family:Verdana;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    display: center;
    }
  h2 {
    font-family:Verdana;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: center;
    text-align: center;
    }

    h2 {
      font-family:Verdana;
      font-size: 20px;
      font-weight: bold;
      color: black;
      display: center;
      text-align: center;
      }

  img {
    border-radius: 60%;
    border: 6px solid whitesmoke;
  }

 div {
  float: left;
  width: 0 auto;
  padding-bottom: 1px
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33%;
  padding-bottom: 1px;
}
/* Clear floats after image containers */
.row::after {
  content: "column";
  clear: both;
  display: table;
}

  button {
    font-size: 14px;
    padding: 10px 24px;
    display: inline-block;
    background-color: #e7e7e7; color: black;
    border-radius: 2px;
    align-content: center;
    border-radius: 15px;
  }


  