
*{
    text-align: center ;
  } */
  #holder {
    text-align: center;
  }
  
  .img{
    margin: 0 auto;
  }
  .custom {
    cursor: url(img/cursorBee.png), auto;
  } 
  #myElement {
    cursor: url('${img/cursorBee}/cursorBee.jpg') 
  ; 

} 
    
    html {
      height: 100%;
      background-color: #C0F3E8;
    }
    body {
       height: 100%;
       background: url("img/kerrypark.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       display: center;
       margin:0 auto
    }

    header {
        background-color: #56C9FE;
        padding:5px;
        padding-left: 5px;
        border: 10px  rgb(26, 23, 23);
        font-size:25px ;
        font-style: italic; 
        font-stretch: expanded;
        display: fixed;
        width: 1600px;
    }
    nav {
      
        width:125px;
        display: block;
        
    }
    nav ul{
      float: right;
      display:inline-block;
  }


  nav li:nth-child(2){
    padding-left:10px;
}


nav li{
    display: center;
   
    padding-right: 10px;
}
    a {
        color: black;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:white;
      font-size: 20px;
    }
    aside ul {
        list-style-type: none;
    }
    
    img {
        width: 415px;
        height: 215px;
    }
    h2 {
        font-size: 30px;
        color:whitesmoke;
    }
   

    img {
      border-radius: 60%;
      border: 6px solid whitesmoke;
    }
   
    
    
  
    